<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/main_icon.png" sizes="32x32" type="image/png">
        <title>{{ global_app_name }}</title>

        <script>
            const APP_LOCALE = '{{ app.request.locale }}';
            const URL_API = {
                track_list: '{{ url('api_track_list') }}',
                artist_list: '{{ url('api_artist_list') }}',
                album_list: '{{ url('api_album_list') }}',
                artist_tracks: '{{ url('api_artist_tracks', {id: ':id', limit: ':limit'}) }}',
                album_tracks: '{{ url('api_album_tracks', {id: ':id'}) }}',
            };
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('vue') }}
            {% if getRequestCookie('app_theme') == 'alt' %}
                {{ encore_entry_link_tags('alt') }}
            {% else %}
                {{ encore_entry_link_tags('default') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('vue') }}
            {% block vueapps %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>

    <div class="container-fluid" id="rootApp">
        {% block header %}{% endblock %}

        {% block content_title %}{% endblock %}

        <div class="flashMessages">
            {% for label, messages in app.flashes %}
                {% set messageIcon = 'info-circle' %}
                {% set bsClassType = label %}
                {% if label == 'success' %}{% set messageIcon = 'check-circle' %}{% endif %}
                {% if label == 'warning' %}{% set messageIcon = 'exclamation-circle' %}{% endif %}
                {% if label == 'error' %}{% set messageIcon = 'times-circle' %}{% set bsClassType = 'danger' %}{% endif %}
                {% for message in messages %}

                    <div class="alert alert-{{ bsClassType }} alert-dismissible fade show" role="alert">
                        <span class="fa fa-lg fa-{{ messageIcon }}"></span>
                        <b>{{ ('flashmessage.'~label)|trans|ucfirst|label }}</b>
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endfor %}
            {% endfor %}

            <sweet-modal ref="toastBackup" modal-theme="dark" :icon="toastBackup.icon" :title="toastBackup.title">
                ${ toastBackup.text }$
            </sweet-modal>

        </div>

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="fixed-bottom">

                <app-menu></app-menu>

            </footer>
        {% endblock %}

    </div>

    </body>
</html>
