
<a class="navbar-brand img-link" href="{{ url('index') }}">
    <img src="/img/main_icon.png" class="img-logo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% block menu %}
            <li class="nav-item {{ checkActiveRoute('index') }}">
                <a class="nav-link nav-link " href="{{ url('index') }}">{{ 'title.short.homepage'|trans|ucfirst }}</a>
            </li>
        {% endblock %}

        <li class="nav-item">
            <form class="form-inline ml-2">
                <input class="form-control mr-sm-2" type="search" placeholder="&#x1F50E;&#xFE0E;" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">{{ 'button.search'|trans|ucfirst }}</button>
            </form>
        </li>

    </ul>

    {% if app.user %}
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle app-user img-link" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/img/user_icon.png" class="img-icon" />
                <span>{{ app.user.username }}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                {% if hasRole('admin') %}
                    <a href="{{ url('admin_index') }}" class="dropdown-item"><span class="fa fa-tools"></span> {{ 'title.short.admin'|trans|ucfirst }}</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a href="{{ url('user_logout') }}" class="btn btn-secondary btn-sm float-right mr-2">{{ 'user.logout'|trans|ucfirst }}</a>
            </div>
        </div>
    {% else %}
        <div class="nav-item ml-sm-2 my-2">
            <a href="{{ url('user_login') }}" class="btn btn-secondary btn-sm">{{ 'user.login'|trans|ucfirst }}</a>
        </div>
    {% endif %}


    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle app-locale img-link" href="#" id="navbarDropdownLocale" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/img/flags/_globe.png" class="img-icon" />
            {{ 'change.locale'|trans|ucfirst }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownLocale">
            {% if app.request.locale == 'fr' %}
                <a href="{{ getLocalizedUrl('en') }}" class="dropdown-item">
                    <img src="/img/flags/en.png" class="mr-2 img-icon-small" />
                    {{ 'en'|intlLocaleName('en') }}
                </a>
            {% else %}
                <a href="{{ getLocalizedUrl('fr') }}" class="dropdown-item">
                    <img src="/img/flags/fr.png" class="mr-2 img-icon-small" />
                    {{ 'fr'|intlLocaleName('fr') }}
                </a>
            {% endif %}
            {% if hasRole('admin') %}
                <a href="{{ getLocalizedUrl('transCode') }}" class="dropdown-item">$transCode</a>
            {% endif %}
        </div>
    </div>
	
	{#
		<div class="app-theme font-small">
			{{ 'change.theme'|trans|ucfirst|label }}
			{% if getRequestCookie('app_theme') == 'alt' %}
				<a href="{{ url('theme_change', {theme: 'default'}) }}">{{ 'theme.default'|trans|ucfirst }}</a>
			{% else %}
				<a href="{{ url('theme_change', {theme: 'alt'}) }}">{{ 'theme.alt'|trans|ucfirst }}</a>
			{% endif %}
		</div>
    #}


</div>


