{% extends 'email/base.html.twig' %}

{% block title %}{{ 'reset_password.title'|trans({}, 'email')|ucfirst }}{% endblock %}

{% block content %}
    <div>
        <p>{{ 'reset_password.content.click_below'|trans({}, 'email') }}</p>
        <a href="{{ url }}">{{ 'user.reset_password'|trans|ucfirst }}</a>
        <p>{{ 'reset_password.content.copy_paste'|trans({}, 'email') }}</p>
        <p>{{ url }}</p>
    </div>
{% endblock %}
